<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Link para ícones do Google Fonts -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,-25" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=cancel" />
  <!-- Link para Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  <!-- Link para Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
  <!-- Link para arquivo CSS personalizado -->
  <link rel="stylesheet" href="estilos/style.css" />
  <title>Leila Bolos - Cardapio </title>
  <link rel="shortcut icon" href="../logos/logo6.png" type="image/x-icon">
</head>

<body id="top">
  <header>
    <%-include('./parciais/header.ejs') %>
  </header>

  <main>
    <div class="container mt-5">
      <h1 class="titulo_cardapio">Nosso Cardápio de Delícias...</h1>
      <!-- Lista de produtos -->
      <!-- Bolos -->
      <section id="bolos">
        <h3>Bolos</h3>
        <div class="row">
          <% produtos.forEach(produto=> { %>
            <% if (produto.categoria === 'bolos') { %>
            <div class="col-12 col-md-6 col-lg-4 mb-4">
              <div class="card">
                <img src="<%= produto.imagem %>" class="card-img-top" alt="<%= produto.nome %>">
                <div class="card-body">

                  <h5 class="card-title">
                    <%= produto.nome %>
                  </h5>
                  <p class="card-text">R$ <%= parseFloat(produto.preco).toFixed(2) %></p>
                  <button type="button" class="btn btn-info" data-toggle="modal"
                    data-target="#detalhesModal<%= produto.id %>">Detalhes</button>
                </div>
              </div>
            </div>

          <!-- Modal de Detalhes -->
          <div class="modal fade" id="detalhesModal<%= produto.id %>" tabindex="-1" role="dialog"
            aria-labelledby="detalhesModalLabel<%= produto.id %>" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="detalhesModalLabel<%= produto.id %>">
                    <%= produto.nome %>
                  </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="material-symbols-outlined">cancel</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="modal-info">
                    <img src="<%= produto.imagem %>" alt="<%= produto.nome %>" class="img-fluid">
                    <p><%= produto.descricao %></p>
                  </div>
                  <div class="modal-form">
                    <p class="preco-modal" id="preco<%= produto.id %>" data-base-price="<%= parseFloat(produto.preco).toFixed(2) %>">R$ <%= parseFloat(produto.preco).toFixed(2) %></p>
                    <form action="" method="POST" id="form-selecao">
                      <div>
                        <label for="tamanho<%= produto.id %>">Selecione o tamanho do bolo</label>
                        <select id="tamanho<%= produto.id %>" name="tamanho" onchange="alterarPreco(<%= produto.id %>)" required>
                        <option value="">Selecione...</option>
                        <option value="1kg" data-price="0">1kg</option>
                        <option value="2kg" data-price="50">2kg</option>
                        <option value="3kg" data-price="100">3kg</option>
                      </select>
                      </div>
                      
                      <div>
                      <label for="sabormassa<%= produto.id %>">Selecione o sabor da massa</label>
                      <select id="sabormassa<%= produto.id %>" name="sabormassa" required>
                        <option value="">Selecione...</option>
                        <option value="baunilha">Baunilha</option>
                        <option value="chocolate">Chocolate</option>
                      </select>
                      </div>

                      <div>
                      <label for="saborrecheio<%= produto.id %>">Selecione o sabor do recheio</label>
                      <select id="saborrecheio<%= produto.id %>" name="saborrecheio" required>
                        <option value="">Selecione...</option>
                        <option value="brigadeiro">Brigadeiro</option>
                        <option value="ninhomorango">Leite Ninho com morango</option>
                        <option value="beijinho">Beijinho</option>
                        <option value="limao">Mousse de limão</option>
                        <option value="maracuja">Mousse de maracujá</option>
                        <option value="docedeleite">Doce de Leite</option>
                        <option value="docedeleiteameixa">Doce de Leite com ameixa</option>
                      </select>
                      </div>

                      <div>
                      <label for="obs">Observações</label>
                      <textarea id="obs" name="obs" placeholder="Escreva aqui mais detalhes sobre o bolo, tais como tema, cores da cobertura e outros detalhes."></textarea>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="modal-footer">
                  <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button> -->
                  <button type="button" class="btn btn-primary" onclick="addToCartOptions('<%= produto.id %>', '<%= produto.nome %>', '<%= produto.preco %>')">Adicionar ao Carrinho</button>
                </div>
              </div>
            </div>
          </div>
          <% } %>
          <% }); %>
        </section>
        
        <!-- Doces e Salgados -->
         <section id="doces-salgados">
          <h3>Doces e Salgados</h3>
          <div class="row">
            <% produtos.forEach(produto => { %>
              <% if (produto.categoria === 'doces'|| produto.categoria === 'salgados') { %>
                  <div class="col-12 col-md-6 col-lg-4 mb-4">
                      <div class="card">
                          <img src="<%= produto.imagem %>" class="card-img-top" alt="<%= produto.nome %>">
                          <div class="card-body">
                              <h5 class="card-title"><%= produto.nome %></h5>
                              <p class="card-text">R$ <%= parseFloat(produto.preco).toFixed(2) %></p>
                              <button type="button" class="btn btn-info" data-toggle="modal" data-target="#detalhesModal<%= produto.id %>">Detalhes</button>
                          </div>
                      </div>
                  </div>

                  <!-- Modal de Detalhes -->
                  <div class="modal fade" id="detalhesModal<%= produto.id %>" tabindex="-1" role="dialog"
                    aria-labelledby="detalhesModalLabel<%= produto.id %>" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="detalhesModalLabel<%= produto.id %>">
                            <%= produto.nome %>
                          </h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span class="material-symbols-outlined">cancel</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div class="modal-info">
                            <img src="<%= produto.imagem %>" alt="<%= produto.nome %>" class="img-fluid">
                            <p><%= produto.descricao %></p>
                            <p class="preco-modal" id="preco<%= produto.id %>" data-base-price="<%= parseFloat(produto.preco).toFixed(2) %>">R$ <%= parseFloat(produto.preco).toFixed(2) %></p>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button> -->
                          <button type="button" class="btn btn-primary" onclick="addToCartNoOptions('<%= produto.id %>', '<%= produto.nome %>', '<%= produto.preco %>')">Adicionar ao Carrinho</button>
                        </div>
                      </div>
                    </div>
                  </div>
              <% } %>
          <% }); %>
          </div>

         </section>
      </div>
    </div>
  </main>

  <footer>
    <%-include('./parciais/footer.ejs') %>
  </footer>

  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="script.js"></script>
</body>
</html>